a #logo-text, a > img {
    float: left; 
}
body {
    background-color: #7B3239;
}
#header{
    background-color: #A27A54;
}
#phone{
    color: black;
    font-size: 1.6em;
}
#call{
    font-size: 1.6em;
    color: black;
    text-align: right;
}
.navbar .nav-item > .nav-link{
    text-align: center;
    font-size: 1.2em ;
    color: black;
}
.navbar .nav-item.active > .nav-link{
    text-align: center;
    font-size: 1.2em ;
    color: black;
}
.navbar .nav-item > .nav-link:hover{
    background-color:wheat;
    color: teal;

}
#logo-text {
    margin-left: 6px;
}
#logo-text > h1{ 
    color: coral;
    text-transform:uppercase;
}





// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { .navbar-nav{
    position: relative;
    top:-42px

} }


@media (min-width: 1200px) {.navbar-nav{
    position: relative;
    top:-42px

} }
@media (max-width:575.98px){
    
#logo-text > h1{ 
    font-size: 0.9em;
}
}
.jumbotron > img {
    height: 100%;
    width: 100%;
}
.jumbotron {
    padding: 0px;
    margin-top:16px;
    border: 1px solid#000; 
    box-shadow: 0 0 10px #000;
}
.home {
    display: block;
    height:  250px;
    border: 1px solid#000;
    box-shadow: 0 0 10px #000;;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
}
.home:hover{
    box-shadow: 0 0 10px #fff;
}
@media (max-width:575.98px){
    .home >img {
        width: 100%;
    }
}
.home > span {
    background-color: #000;
    opacity: 0.6;
    font-size: 1.5em;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    display: block;
    width:100% ;
    text-align: center;
    bottom: 0px;
    left: 0px;
}
footer{
    background-color: black;
    color: #fff;
    margin-top: 16px ;
    padding: 16px 0px;
}
#pra{
    color: green;
    font-size: 0.8em;


}
#it {
    font-style: italic;


}
#lsatfont{
    text-align: center;
}
@media (max-width: 575.98px){
    footer .container .row div {
        text-align:center ;
        
    }
    footer .container .row div hr {
        border: 1px solid#fff;
        width: 50%;
    }

}